.subtitles-ExternalInfo {
  width: 100%;
  font-size: 3vmin;
  top: 10vh;
  padding: 0 1.04vw;
  z-index: 1;
  font-weight: 600;
  margin-top: 12vh;
}


.ExternalInfo {
  background-color: #fdf9f4;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
}


#ExternalInfo-text1,
#ExternalInfo-text2,
#ExternalInfo-text3,
#ExternalInfo-text4 {
  position: absolute;
  right: 5vw;
  font-size: 3vmin;
  font-family: "Assistant";
  width: 40vw;
  direction: rtl;
  text-align: right;
}


#ExternalInfo-text1 {
  top: 25vh;
}
#ExternalInfo-text2 {
  top: 35vh;
}
#ExternalInfo-text3 {
  top: 61.8vh;
}
#ExternalInfo-text4 {
  top: 78vh;
  display: flex;
  align-items: center;
}


.ExternalInfo-link {
  font-family: "karantina";
  font-style: normal;
  font-weight: 400;
  font-size: 5vmin;
  line-height: 1.4;
  text-align: center;
  color: #e97414;
}


.ExternalInfo-left-half-bg {
  position: fixed;
  top: 12vh;
  left: 0;
  width: 70vw;
  height: 100vh;
  object-fit: contain;
  object-position: left center;
  opacity: 0.2;
  z-index: 1;
}



