.InfoLomda {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #e9f3f8;
  background-image: url("/public/assets/General/mainBackground.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  direction: rtl;
}

/* CARD */
.InfoLomdaCard {
  position: absolute;
  top: 52vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: #ffffffb9;
  border-radius: 3vw; /* 80px */
  padding: 3vw;
  width: 75vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5vw 1vw rgba(82, 82, 82, 0.2);
}

/* CONTENT */
.step-content {
  overflow-y: auto;
  overflow-x: visible; /* או */
  padding: 1.5vmin; /* נותן מקום לפסאודו שלא ייחתך */
  top: 12%;
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

/* TITLE */
.InfoLomda-title {
  font-family: "Karantina";
  font-weight: 700;
  font-size: 6vmin;
  line-height: 1.1;
  text-align: center;

  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 2%;
  width: 100%;
}

/* PARAGRAPHS */
.InfoLomda-par1,
.InfoLomda-par3,
.InfoLomda-par4 {
  font-family: "Assistant";
  font-size: 2.5vmin;
  line-height: 1.4;
  text-align: right;

  margin-bottom: 0vh;
}

/* BOX PAR */
.InfoLomda-par2 {
  font-family: "Assistant";
  font-size: 2.5vmin;
  line-height: 1.4;
  text-align: right;
}

/* LIST */
.InfoLomda-ul {
  font-family: "Assistant";
  font-size: 2.5vmin;
  line-height: 1.5;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding-right: 4vw;
  margin-bottom: 2vh;
}

.InfoLomda-ul b {
  margin-bottom: 0vh;
}
/* NAV BUTTON AREA */
.info-navigation-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.04vw;
  margin-top: auto;
  padding-top: 2vh;
  width: 100%;
}

/* BUTTONS */
.nav-btn-prev,
.start-button-InfoLomda {
  padding: 0.63vw 1.56vw;
  font-size: 2vmin;
  font-weight: 700;
  font-family: "Assistant";
  color: #fff;
  border: none;
  border-radius: 1.3vw;
  box-shadow: 0 0.42vw 0.78vw rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.4s ease;

  background: linear-gradient(45deg, #ff6b6b, #f7d794, #63cdda, #ff6b6b);
  background-size: 300% 300%;
}

/* HOVER */
.nav-btn-prev:hover,
.start-button-InfoLomda:hover {
  transform: scale(1.05);
  background-position: 100% 0;
  box-shadow: 0 0.63vw 1.04vw rgba(0, 0, 0, 0.3);
}

/* SECONDARY BUTTON */
.nav-btn-prev {
  filter: grayscale(0.3);
}

.Pay-attention {
  position: relative;
  left: -7%;
  bottom: 1vw;
  border: none;
  background: #ffefdf;
  border-radius: 2vmin;
  padding: 2.5vmin 3vmin 2.5vmin 3vmin;
  box-shadow: 0 0.3vw 1vw #dfa6778e;
  border-right: 0.6vmin solid #c0622a;
  margin-top: 6vh;
  width: 50vw;
}

.Pay-attention::before {
  content: "♥";
  position: absolute;
  top: -1.5vmin;
  right: -1.5vmin;
  font-size: 3vmin;
  background: #fff;
  border-radius: 50%;
  width: 4vmin;
  height: 4vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.2vw 0.4vw #472e1a30;
  color: #c0622a;
}

#pay-attention-step2 {
  font-size: 2.2vmin;
}

.list-icon {
  font-size: 2.8vmin;
  flex-shrink: 0;
  line-height: 1.4;
  filter: grayscale(100%);
}

.list-icon-clock {
  opacity: 0.55;
}
