.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 240px; /* מתאים לגודל הכפתורים */
  margin: 20px;
}

.navigation-buttons__button {
  position: relative;
  width: 110px;
  height: 60px;
  border: none;
  border-radius: 12px;
  color: red;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

/* Variants לפי unitNumber */
.dynamic-0 { background-color: #D57375; }
.dynamic-1 { background-color: #FFC47E; }
.dynamic-2 { background-color: #56C3A9; }
.dynamic-3 { background-color: #78A6CD; }
.dynamic-4 { background-color: #E4B581; }

.navigation-buttons__button:disabled {
  opacity: 0.5;
  cursor: default;
}

.navigation-buttons__button .icon {
  font-size: 20px;
  margin: 0 8px;
}