.UnitOpeningPage {
     position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background-color: #e9f3f8;
    background-image: url("/public/assets/General/mainBackground.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    overflow: hidden;
}

.UnitOpeningPage__building {
    position: absolute;
    width: 40vw;
    margin-top: 15vh;
    max-height: 110vh;
    height: auto;
    right: 5vw;
}

.UnitOpeningPage__title{
    font-family: "Karantina";
    font-size: 6vmin;
    color: var(--card-text);
    position: absolute;
    top: -4vh;
    right: 17vw;
}
.UnitOpeningPage__subtitle{
    font-family: "Karantina";
    font-size: 5vmin;
    font-weight: 400;
     color: var(--card-text);
}
.UnitOpeningPage_cards{
      width: 37vw;
    height: 47vh;
    padding: 40px;
    background: var(--card-main);
    border-radius: 50px;
    text-align: center;
    direction: rtl;
    left: 7vw;
    top: 30vh;
    position: relative;
    z-index: 2;
    border: #6c6d6d solid 0.5px;

}
.UnitOpeningPage__text{
        text-align: right;
    position: absolute;
    font-family: "ASsistant";
    font-size: 2.8vmin;
    color: var(--card-text);
    right: 8vw;
    margin-top: -6vh;
}


.UnitOpeningPage_cards::before{
content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #cfe7f3;
    border-radius: 50px;
    border: #6c6d6d solid 0.5px;
    top: -46px;
    right: 46px;
    z-index: -1;
}

.UnitOpeningPage_cards::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--card-layer2);
    border-radius: 50px;
    border: #6c6d6d solid 0.5px;
    top: -24px;
    left: -21px;
    z-index: -2;
}

 .start-button-unitOpeningPage {
padding: 12px 30px;
    font-size: 3vmin;
    font-weight: 700;
    font-family: 'Assistant', sans-serif;
    color: #fff;
    position: absolute;
    left: 8%;
    top: 88%;
    background: linear-gradient(45deg, #ff6b6b, #f7d794, #63cdda, #ff6b6b);
    background-size: 300% 300%;
    border: none;
    border-radius: 25px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.4s ease;
}

.start-button-unitOpeningPage:hover {
  transform: scale(1.1) rotate(-2deg);
  background-position: 100% 0;
  box-shadow: 0 12px 20px rgba(0,0,0,0.3);
} 