.VideoThreats-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    /* top: 10vh; */
    left: 0;
    background-color: #fff8e8;
    z-index: -1000;
}

.VideoThreats-container {
    width: 80vw;
    height: 85vh;
    position: absolute;
    left: 49.5%;
    top: 5vh;
    transform: translateX(-50%);
    display: block;
    overflow: hidden;
}

.VideoThreats-video {
    width: 75vw;
    height: 82vh;
    border: none;
    object-fit: fill;
    /* פקודה שמנסה להכריח את התוכן להימתח */
}

.video-threats-button {
    padding: 12px 30px;
    font-size: 3vmin;
    font-weight: 700;
    font-family: 'Assistant', sans-serif;
    color: #fff;
    position: absolute;
    left: 8%;
    top: 88%;
    background: linear-gradient(45deg, #ff6b6b, #f7d794, #63cdda, #ff6b6b);
    background-size: 300% 300%;
    border: none;
    border-radius: 25px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.4s ease;
}