@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Karantina:wght@300;400;700&display=swap");
@import url(" https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");

* {
  font-family: "Assistant";
  color: #472e1a;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.main-logo {
  position: absolute;
  top: 2vh;
  right: 2vw;
  width: 4.5%;
  z-index: 2000;
  cursor: pointer;
}

.main-logo:hover {
  transform: scale(1.05);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.developer-reset-btn {
  position: fixed;
  top: 1.5vh;
  right: 15vw;
  z-index: 9999; /* מוודא שהוא מעל הכל */
  background: #ff4757; /* אדום בולט */
  color: white;
  border: none;
  padding: 0.8vw 1vw;
  border-radius: 1vw;
  font-family: "Assistant", sans-serif;
  font-size: 1vw;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.6;
  transition: opacity 0.3s;
  direction: rtl;
}

.developer-reset-btn:hover {
  opacity: 1;
  background: #ff6b81;
}

.subtitles {
  font-size: 1.25vw;
  text-align: center;
  position: relative;
  top: 10vh;
  padding: 0 1.04vw;
  z-index: 1;
  font-weight: 600;
}

.narration-player {
  position: fixed;
  top: 10vh;
  left: 2vw;
  display: flex;
  gap: 1vmin;
  z-index: 10001;
}

.narration-btn {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 50%;
  width: 5vmin;
  height: 5vmin;
  font-size: 2.2vmin;
  cursor: pointer;
  box-shadow: 0 0.3vmin 1vmin rgba(0, 0, 0, 0.2);
  transition: transform 0.15s;
  z-index: 10002;
}

.narration-btn:hover {
  transform: scale(1.1);
}

.developer-download-btn {
  position: fixed;
  top: 7vh;
  right: 14.5vw;
  z-index: 9999; /* מוודא שהוא מעל הכל */
  background: #ff4757; /* אדום בולט */
  color: white;
  border: none;
  padding: 0.1vw 0.1vw;
  border-radius: 1vw;
  font-family: "Assistant", sans-serif;
  font-size: 1vw;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.6;
  transition: opacity 0.3s;
  direction: rtl;
}