.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Karantina:wght@300;400;700&display=swap');
@import url(" https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
.App-logo {
  height: 40vmin;
  pointer-events: none;
}.main-logo {
  position: absolute;
  top: 2vh;
  right: 2vw;
  width: 4.5%;
  z-index: 2000;
  cursor: pointer;
}

.main-logo:hover {
  transform: scale(1.05);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.developer-reset-btn {
  position: fixed;
  top: 10px;
  right: 200px;
  z-index: 9999; /* מוודא שהוא מעל הכל */
  background: #ff4757; /* אדום בולט */
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-family: 'Assistant', sans-serif;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  opacity: 0.6;
  transition: opacity 0.3s;
}

.developer-reset-btn:hover {
  opacity: 1;
  background: #ff6b81;
}

/* בגרסה הסופית פשוט תוכלי למחוק את זה או להוסיף display: none */