.populationLaptop-container{
position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.population-content{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
    height: 80vh;
    background-color: rgb(217 217 217);
    width: 72vw;
}
.population-content h2{
    font-family: "Karantina";
    font-size: 5VMIN;
    font-weight: 400;
}
.population-content P{
    font-family: "Assistant";
    font-size: 3vmin;
    font-weight: 400;
    direction: rtl;
    text-align: right;
    padding-right: -1vw;
    width: 65vw;
}

.populationLaptop-background{
    width: 110vw;
    height: auto;
    position: fixed;
    top: -16vh;
    left: -8vw;
}
.PopulationNextButton{
      padding: 12px 30px;
    font-size: 3vmin;
    font-weight: 700;
    font-family: 'Assistant', sans-serif;
    color: #fff;
    position: absolute;
    left: 8%;
    top: 88%;
    background: linear-gradient(45deg, #ff6b6b, #f7d794, #63cdda, #ff6b6b);
    background-size: 300% 300%;
    border: none;
    border-radius: 25px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.4s ease;
}