.room-background-states {
  width: 100%;
  height:100%;
  object-fit: cover;
  position: fixed;
  /* top: 10vh; */
  left: 0;
  z-index: -1;
  transition: transform 2s ease-in-out;
  transform-origin: 50% 15%; /* הזום מתמקד בחלק העליון */
}


.zoom-in-board {
  transform: scale(2.0);
}


.zoom-out-board {
  transform: scale(1);
}



.Board {
  width: auto;
    height: 95vh;
    /* top: 11vh; */
    position: absolute;
      width: 80%;
  height:80%;
  object-fit: cover;
  /* position: fixed; */
    /* left: 11vw; */
}
.card-div-states{
  animation: cardsFade 0.6s ease;
}


@keyframes cardsFade{
  from{
    opacity:0;
    transform: translateY(20px);
  }
  to{
    opacity:1;
    transform: translateY(0);
  }
}
.card-div-states {
  width: 18vw;
  height: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 7vmin;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-family: "Karantina";
  font-weight: lighter;
}
.cardOneStates{
    position: absolute;
    top: 23vh;
    left: 18vw;
    transform: rotate(345deg);
    background-color: #9dfee7;
}
.cardTwoStates{
    position: absolute;
    top: 18vh;
    right: 25vw;
    background-color: #9FE3F6;
}


.cardThreeStates{
    position: absolute;
    top: 60vh;
    right: 15vw;
    transform: rotate(15deg);


    background-color: #FFE49B;
}
.cardFourStates{
    position: absolute;
    top: 60vh;
    left: 35vw;
    background-color: #FF9A9A;
}


#states-pin1{
    position: absolute;
    display: block;
    top: 20vh;
    left: 22vw;
    z-index: 2;
}
#states-pin2{
position: absolute;
    display: block;
    top: 57vh;
    left: 78vw;
    z-index: 2;
    transform: scaleX(-1);
}
#states-pin3{
  position: absolute;
  display: block;
  top: 14vh;
  left: 65vw;
  z-index: 2;
  transform: scaleX(-1);
   
}
#states-pin4{
 position: absolute;
    display: block;
    top: 57vh;
    left: 78vw;
    z-index: 2;
    transform: scaleX(-1);
}
.pinState{
    width: 3vw;
    height: auto;
}
.ending-button-states {
  padding: 12px 30px;
    font-size: 3vmin;
    font-weight: 700;
    font-family: 'Assistant', sans-serif;
    color: #fff;
    position: absolute;
    left: 8%;
    top: 88%;
    background: linear-gradient(45deg, #ff6b6b, #f7d794, #63cdda, #ff6b6b);
    background-size: 300% 300%;
    border: none;
    border-radius: 25px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.4s ease;
}