.states-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.35);
  z-index: 1000;
}

.states-card {
       width: 69vw;
    height: 71vh;
    padding: 50px 60px;
    text-align: right;
    right: 0vw;
    top: 6vh;
    direction: rtl;
    position: relative;
}

.states-close {
  position: absolute;
  top: 20px;
  left: 25px;

  border: none;
  background: none;
  font-size: 8vmin;
  cursor: pointer;
    font-family: "Karantina";
    font-weight: bolder;
  color: #3b2a1a;
}

.card-title {
  font-size: 7vmin;
  font-weight: 800;
  color: #3b2a1a;
  font-family: "Karantina";

  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 2vw;
  font-weight: 600;
  text-decoration: underline;

  color: #3b2a1a;
  margin-bottom: 20px;
}

.card-description {
  font-size: 1.5vw;
  margin-bottom: 20px;
  color: #3b2a1a;
}

.card-tasks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-tasks li {
  font-size: 1.4vw;
  margin-bottom: 12px;
  color: #3b2a1a;

  display: flex;
  align-items: center;
  gap: 10px;
}

.card-tasks li::before {
  content: "✔";
  color: #1f1f1f;
  font-weight: bold;
}