/* Styles for Unit1 SummaryCheckList screen */


.finish-unit-section {
    text-align: center;
    animation: fadeIn 0.5s ease-in;
}


.congrats-msg {
    color: #2e7d32;
    font-weight: bold;
    margin-bottom: 20px;
    direction: rtl;
}


.finish-btn {
    background-color: #00796b;
    top: 87%;
    left: 43%;
    position: absolute;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}


.finish-btn:hover {
    transform: scale(1.05);
    background-color: #004d40;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.check-list {
    position: absolute;
    top: 15%;
    left: 17%;
    width: 27%;
    height: 75%;
}


.end-building {
    position: absolute;
    top: 15%;
    left: 60%;
    width: 31%;
    height: 70%;
}


#checklist-text1 {
    z-index: 2;
    left: 19%;
    position: absolute;
    top: 33%;
}


#checklist-text2 {
    z-index: 2;
    left: 19%;
    position: absolute;
    top: 39%;
}


#checklist-text3 {
    z-index: 2;
    left: 19%;
    position: absolute;
    top: 57%;
}


#checklist-text4 {
    z-index: 2;
    left: 19%;
    position: absolute;
    top: 68%;
}


.checklist-text {
    width: 22%;
    font-size: 1.4vw;
    direction: rtl;
    text-align: right;
    line-height: 1.9;
    color: #322217;
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
}