/* Styles for Unit1 VideoThreats screen */

.VideoThreats {
    width: 106vw;
    height: 114vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -7vh;
    left: -3.5vw;
    z-index: -1;
}
.video-threats-button{
    padding: 12px 30px;
    font-size: 3vmin;
    font-weight: 700;
    font-family: 'Assistant', sans-serif;
    color: #fff;
    position: absolute;
    left: 8%;
    top: 88%;
    background: linear-gradient(45deg, #ff6b6b, #f7d794, #63cdda, #ff6b6b);
    background-size: 300% 300%;
    border: none;
    border-radius: 25px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.4s ease;
}