#defense-headline{
    position: absolute;
    right: 10vw;
    top: 1vh;
    font-family: 'Karantina';
    font-style: normal;
    font-weight: 400;
    font-size: 12vh;
    text-align: center;
    color: #0CB0DE;
}




#alert-defense-icon{
    background-color: #0CB0DE;
    padding: 2vh;
    margin: 2vh;
    border-radius: 50vw;
    height: 9vh;
    width: 9vh;
    position: absolute;
    right: 0vw;
}




#defense-text1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20vh;
    font-family: 'Karantina';
    font-style: normal;
    font-weight: 400;
    font-size: 7.5vh;
    text-align: center;
    color: #472E1A;
}  




#defense-text2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 33vh;
    bottom: 63.61%;
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
    text-align: center;
    direction: rtl;
    color: #472E1A;
}        




#defense-text3{
    position: absolute;
    top: 40vh;
    font-size: 5vh;
    font-weight: 400;
    direction: rtl;
    right: 30vw;
    color: #472E1A;
    font-family: 'Karantina';
}




#defense-text4{
    position: absolute;
    top: 45vh;
    font-size: 2.5vh;
    direction: rtl;
    right: 42vw;
   color: #472E1A;
    top: 40vh;
    font-size: 5vh;
    font-weight: 400;
   font-family: 'Karantina';
}




#defense-text5{
    position: absolute;
    top: 45vh;
    font-size: 2.5vh;
    direction: rtl;
    right: 51vw;
    width: 12vw;
    color: #472E1A;
    top: 40vh;
    font-size: 5vh;
    font-weight: 400;
    font-family: 'Karantina';
}




#defense-text6{
    position: absolute;
    top: 45vh;
    font-size: 2.5vh;
    direction: rtl;
    right: 65vw;
    width: 12vw;
    color: #472E1A;
    top: 40vh;
    font-size: 5vh;
    font-weight: 400;
    font-family: 'Karantina';
}




#defense-text7{
    position: absolute;
    top: 55vh;
    font-size: 5.5vh;
    direction: rtl;
    left: 50%;
    transform: translateX(-50%);
    color: #472E1A;
    font-family: 'Karantina';
    letter-spacing: 1px;
}


#defense-text8{
    position: absolute;
    top: 65vh;
    font-size: 3vh;
    direction: rtl;
    left: 50%;
    transform: translateX(-50%);
    color: #472E1A;
    width: 34vw;
    line-height: 1.5;
}


#defense-text9{
    position: absolute;
    top: 48vh;
    font-size: 2.2vh;
    direction: rtl;
    right: 29vw;
    color: #472E1A;
}


#defense-text10{
    position: absolute;
    top: 48vh;
    font-size: 2.2vh;
    direction: rtl;
    right: 41vw;
    color: #472E1A;
}


#defense-numbers1{
position: absolute;
left: 7vw;
top: -18px;
font-family: 'Karantina';
font-style: normal;
font-weight: 700;
font-size: 7vh;
color: #0CB0DE;
text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
}




#defense-numbers2{
position: absolute;
left: 4vw;
top: -18px;
font-family: 'Karantina';
font-style: normal;
font-weight: 700;
font-size: 7vh;
color: #0CB0DE;
text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
}




#defense-numbers3{
position: absolute;
left: 12vw;
top: -18px;
font-family: 'Karantina';
font-style: normal;
font-weight: 700;
font-size: 7vh;
color: #0CB0DE;
text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
}




#defense-numbers4{
position: absolute;
left: 9.5vw;
top: -18px;
font-family: 'Karantina';
font-style: normal;
font-weight: 700;
font-size: 7vh;
color: #0CB0DE;
text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
}




#defense-list{
    position: absolute;
    display: block;
    width: 45vw;
    left: 56vw;
    top: 0vh;




}



