#wait10min-headline{
    position: absolute;
right: 10vw;
top: 1vh;
font-family: 'Karantina';
font-style: normal;
font-weight: 400;
font-size: 12vh;
text-align: center;
color: #E8742C;
}








#wait10min-icon{
    background-color: #E8742C;
    padding: 2vh;
    margin: 2vh;
    border-radius: 50vw;
    height: 9vh;
    width: 9vh;
    position: absolute;
    right: 0vw;
}


#wait10min-dircations{
    text-align: center;
    position: absolute;
    font-size: 2vw;
    top: 22vh;
    left: 50%;
    transform: translateX(-50%);
    direction: rtl;
    font-family: 'assistant';
    font-weight: 400;
    color: #472E1A;
}




#wait10min-text1{
    position: absolute;
    right: 28vw;
    top: 60vh;
    font-size: 3vh;
    width: 10vw;
    font-weight: 500;
    color: #472E1A;
}








#wait10min-text2{
    position: absolute;
    right: 46vw;
    top: 60vh;
    font-size: 3vh;
    width: 10vw;
    font-weight: 500;
    color: #472E1A;
}








#wait10min-text3{
    position: absolute;
    right: 64.5vw;
    top: 60vh;
    font-size: 3vh;
    width: 10vw;
    font-weight: 500;
    color: #472E1A;
}




#wait10min-img1{
    position: absolute;
    right: 25vw;
    top: 32vh;
    height: 27vh;
    width: 50vw;




}

